<p id="notice"><%= notice %></p>

<% @listing.pictures.each do |picture| %>
  <%= image_tag picture %>
<% end %>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Fuel type:</strong>
  <%= @listing.fuel_type %>
</p>

<p>
  <strong>Make:</strong>
  <%= @listing.make %>
</p>

<p>
  <strong>Car type:</strong>
  <%= @listing.car_type %>
</p>

<p>
  <strong>Buyer:</strong>
  <%= @listing.buyer_id %>
</p>

<p>
  <strong>Seller:</strong>
  <%= @listing.seller.user_name %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @listing.profile_id %>
</p>

|

<%# if the car listed is by the seller who is logged in show the edit button %>
<% if(current_user && current_user.profile && (current_user.profile.id == @listing.seller.id)) %>
    <%= link_to 'Edit', edit_listing_path(@listing) %> 
<% else %>
  <%# if the car has a buyer then provide sold button else show a buy button %>
  <% if @listing.buyer %>
      <button class="btn btn-danger">Sold </button>
  <% else %>
      <% if current_user && current_user.profile %>
        <%= link_to 'buy', payment_path(listing_id: @listing.id), method: :post, class: "btn btn-primary"%>
      <% end %>
  <% end %>
<% end %>
<%= link_to 'Back', listings_path %>
